<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>修改密码</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="images/favicon.png">
    <link rel='icon' href='favicon.ico' type='image/x-ico' />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/static/lib/css/default.min.css?t=227" />
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/lib/css/iconfont.css" />
    <style>

    </style>

<!--[if (gte IE 9)|!(IE)]><!-->


</head>
<body>
    ﻿<header class="hd1">
    <div class="cg">
        <div class="hd1-left">
            <a href="/index/"><img class="am-hide-md-down" src="/static/pic/699aed80fbe5d521631fbadf66dc1ccc_12799.png" /></a>
        </div>
    </div>
</header>


     <div class="user">
         <div class="cgs">
             <div class="am-u-sm-12 am-u-md-12 am-u-lg-7">
                 <form method="post" action="{% url 'user_reset' %}">
                     {% csrf_token %}
                 <div class="user-div">

                     <h1>修改密码</h1>
                     <ul>
                        <li><i>&#xe681;</i><input type="password" name="pwd" value="" placeholder="请输入原密码" /></li>
                        <li><i>&#xe680;</i><input type="password" name="confirm_pwd" value="" placeholder="请输入新密码"/></li>
                     </ul>

                     <button type="submit">提交</button>
                 </div>
                     </form>
             </div>

         </div>
     </div>
<script src="/static/lib/jquery-3.4.1.js"></script>
<script src="/static/lib/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>